<div class="band-detail-container">
  <h1>Band Details</h1>
  <h2>Artists</h2>
  <!-- Show artists details here -->
    <div class="row">
        <div class="col-xs-6 col-sm-4"
             ng-repeat="artist in $resolve.artists">
            <div class="thumbnail">
                <img class="img-responsive" ng-src="{{artist.url}}" style="max-height: 200px; margin: 0 auto;"/>
                <div class="caption">
                    <h2>
                        {{ artist.firstName }} {{ artist.lastName }}</h2>
                    <h3>
                        <a href="./album/{{ artist._id }}/">{{ artist.name }}</a>
                    </h3>

                    <dl class="extra-info">
                        <dt>Name</dt>
                        <dd>
                            {{ artist.firstName }} {{ artist.lastName }}
                        </dd>

                        <dt>Birthday</dt>
                        <dd>{{ artist.birthdate }}</dd>

                        <dt>Instrument</dt>
                        <dd>{{ artist.instrument }}</dd>
                    </dl>
                </div>
            </div>
            <!--<div style="">-->
                <!--<img src="{{ artist.url }}"-->
                     <!--alt="{{ artist.firstName + ' ' + artist.lastName }}"-->
                     <!--class="thumbnail img-responsive" style="max-height: 200px;">-->

                <!--<p>name</p>{{ artist.firstName + ' ' + artist.lastName }}-->
                <!--<p>birthday</p>{{ artist.birthdate }}-->
                <!--<p>instrument</p>{{ artist.instrument }}-->
            <!--</div>-->
        </div>
    </div>
</div>
    <hr>
  <h2>Albums</h2>
  <!-- Show Albums details here -->
   <!--<pre>{{$resolve.albums | json}}</pre>-->
    <div class="col-xs-6 col-sm-3"
         ng-repeat="album in $resolve.albums">
        <div class="thumbnail">
            <img class="img-responsive" ng-src="{{album.url}}" style="max-height: 200px; margin: 0 auto;"/>
            <div class="caption" style="min-height: 160px">
                <a href="/band/1/{{album.docType}}/{{album.name}}/">
                    <h2 style="font-size: 14px;">{{album.name}}</h2>
                </a>
                <dl class="extra-info">
                    <dt>Name</dt>
                    <dd>
                        {{ album.firstName }} {{ album.lastName }}
                    </dd>
                    <dt>Release date</dt>
                    <dd>{{ album.releaseDate }}</dd>
                </dl>
            </div>
        </div>
    </div>

  <hr>

<div class="clearfix"></div>
  <div class="tracks"
    ng-if="$resolve.tracks">
    <h2>Tracks in {{$resolve.selectedAlbum.name}}</h2>
    <!-- Show Tracks from selected album -->
      <table class="table">
          <thead>
          <tr>
              <th ng-repeat="column in $ctrl.columns track by $index">
                  {{column[1]}}
              </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in $ctrl.data track by item.id">
              <td ng-repeat="column in $ctrl.columns track by $index">
                  <a ng-if="$index === 0"
                     href="./{{$ctrl.type}}/{{item.id}}/">{{item[column[0]]}}</a>
                  <span ng-if="$index !== 0">{{item.founded}}</span>
              </td>
          </tr>
          </tbody>
          <tfoot ng-if="$ctrl.paginate">
          <tr>
              <td colspan="{{$ctrl.columns.length}}">
                  <pagination size="$ctrl.paginate" data="$ctrl.data"></pagination>
              </td>
          </tr>
          </tfoot>
      </table>
      <!--<pre>{{$ctrl.data | json}}</pre>-->



      <div ng-if="$resolve.comments"
      class="comments">
      <hr>
      <!-- Implement comments component -->
    </div>
     <pre>{{$resolve.tracks | json}}</pre>
  </div>
</div>
